In [10]:
l1 = [1, 2, 3, 4]
l2 = [10, 20, 30]

def sqs(x, y):
    return x ** 2 + y ** 2

def sq(x):
    return x ** 2

def is_even(x):
    return x % 2 == 0

In [7]:
l3 = list(map(sqs, l1, l2))
print(l3)

[101, 404, 909]

In [11]:
l3 = list(filter(is_even, l1))
print(l3)

[2, 4]

In [15]:
l3 = list(zip(l1, l2))

In [16]:
l3

[(1, 10), (2, 20), (3, 30)]

In [17]:
l3 = [x ** 2 for x in l1]

In [22]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]

In [23]:
list(map(lambda x, y: x + y, l1, l2))

[11, 22, 33]

In [24]:
l3 = [v1 + v2 for v1, v2 in zip(l1, l2)]

In [25]:
l3

[11, 22, 33]

In [26]:
l3 = [x for x in l1 if x % 2 == 0]

In [27]:
l3

[2]

In [28]:
l = range(10)

In [30]:
list(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(filter(lambda y: y < 25, map(lambda x: x**2, l)))

[0, 1, 4, 9, 16]

In [34]:
[x**2 for x in range(10) if x ** 2 < 25]

[0, 1, 4, 9, 16]

In [35]:
def fact(n):
    return 1 if n < 2 else n * fact(n - 1)

In [36]:
fact(2)

2

In [37]:
fact(4)

24

In [43]:
result = list(map(fact, range(6)))

In [44]:
result

[1, 1, 2, 6, 24, 120]

In [47]:
for x in result:
    print(x)

1
1
2
6
24
120

In [48]:
for x in result:
    print(x)

1
1
2
6
24
120

In [64]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30]
l3 = [100, 200, 300, 400]

In [65]:
l3 = list(map(lambda *args: sum(args), l1, l2, l3))

In [66]:
print(l3)

[111, 222, 333]

In [68]:
results = map(lambda x, y: x + y, l1, l2, l3)

In [69]:
print(results)

<map object at 0x06AB3650>

In [71]:
# throws error when iterating
for x in results:
    print(x)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [72]:
x = range(25)

In [73]:
print(x)

range(0, 25)

In [75]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [77]:
# we can resue range
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [79]:
list(filter(lambda x : x % 3 == 0, range(25)))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [81]:
list(filter(None, [1, 0, 4, 'a', '', None, True, False]))

[1, 4, 'a', True]

In [83]:
l1 = [1, 2, 3, 4]
l2 = [10, 20, 30, 40]
l3 = 'python'

results = zip(l1, l2, l3)

In [84]:
for x in results:
    print(x)

(1, 10, 'p')
(2, 20, 'y')
(3, 30, 't')
(4, 40, 'h')

In [85]:
for x in results:
    print(x)

In [91]:
results = zip(range(10000), 'python')

In [92]:
for x, y in results:
    print(x, y)

0 p
1 y
2 t
3 h
4 o
5 n

In [93]:
l = range(10)

In [94]:
l

range(0, 10)

In [95]:
print(l)

range(0, 10)

In [97]:
list(map(fact, l))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [100]:
results = [fact(x) for x in range(10)]
# actually created the list, while map defers 
# calculation until it is needed

In [99]:
results

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [104]:
results = (fact(x) for x in range(10)) # this is generators

In [105]:
for i in results:
    print(i)

1
1
2
6
24
120
720
5040
40320
362880

In [106]:
for i in results:
    print(i)

In [108]:
l1 = [1, 2, 3, 4, 5 ,6]
l2 = [10, 20, 30, 40]

results = [x + y for x, y in zip(l1, l2)]

In [109]:
results

[11, 22, 33, 44]

In [110]:
results = [x + y for x, y in zip(l1, l2) if (x + y) % 2 == 0]

In [111]:
results

[22, 44]

In [116]:
list(filter(lambda x: x % 2 == 0, map(lambda x, y: x + y, l1, l2)))

[22, 44]

In [6]:
# Map examples

def total(*args):
    return sum(args)

lyst1 = [1, 2, 3, 4, 5,]
lyst2 = [10, 20, 30, 40, 50]
lyst3 = [100, 200, 300, 400, 500]

result = list(map(total, lyst1, lyst2, lyst3))
print(result)

result = list(map(lambda *args: sum(args), lyst1, lyst2, lyst3))
print(result)

result = list(map(lambda x, y: x + y, lyst1, lyst2))
print(result)

[111, 222, 333, 444, 555]
[111, 222, 333, 444, 555]
[11, 22, 33, 44, 55]

In [2]:
sq(2)

4

In [16]:
lyst1 = [1, 2, 3, 4, 5,]
lyst2 = [10, 20, 30, 40, 50]
lyst3 = [100, 200, 300, 400, 500]

def is_even(x):
    return x % 2 == 0

result = list(filter(is_even, lyst1))
print(result)

result = list(filter(is_even, lyst2))
print(result)

result = list(filter(is_even, lyst3))
print(result)

result = list(filter(lambda x: x % 2 == 0, lyst1))
print(result)

lyst1 = [0, None, False, {}, {}, set(), tuple(), 1, True, (1, 2)]
result = list(filter(None, lyst1))
print(result)

[2, 4]
[10, 20, 30, 40, 50]
[100, 200, 300, 400, 500]
[2, 4]
[1, True, (1, 2)]

In [22]:
lyst1 = [1, 2, 3, 4, 5,]
lyst2 = [10, 20, 30, 40, 50]
lyst3 = [100, 200, 300, 400, 500]

result = list(zip(lyst1, lyst2, lyst3))
print(result)

result = list(zip(lyst1, lyst2, lyst3))
for element in result:
    print(element)
    
for a, b, c in result:
    print(a, b, c)

[(1, 10, 100), (2, 20, 200), (3, 30, 300), (4, 40, 400), (5, 50, 500)]
(1, 10, 100)
(2, 20, 200)
(3, 30, 300)
(4, 40, 400)
(5, 50, 500)
1 10 100
2 20 200
3 30 300
4 40 400
5 50 500