In [1]:
l = [1, 2, 3]

In [2]:
a = 10
b = 20
c = 30

In [3]:
l1 = [a, b, c]

In [4]:
l1

[10, 20, 30]

In [5]:
s = {1, 2, 3}

In [6]:
s = {1, 1, 2, 2, 3, 3}

In [7]:
s

{1, 2, 3}

In [8]:
t = (1, 2, 3)

In [9]:
d = {1: '1', 2: '2', '3': 3}

In [10]:
d

{1: '1', 2: '2', '3': 3}

In [11]:
l

[1, 2, 3]

In [12]:
s

{1, 2, 3}

In [13]:
t

(1, 2, 3)

In [14]:
d

{1: '1', 2: '2', '3': 3}

In [15]:
l = []

In [16]:
l.append(1)

In [17]:
l.append(2)

In [18]:
l.append(3)

In [19]:
l

[1, 2, 3]

In [20]:
a, b, c = l

In [21]:
l

[1, 2, 3]

In [22]:
a

1

In [23]:
b

2

In [24]:
c

3

In [25]:
a, b, c = s

In [26]:
s

{1, 2, 3}

In [27]:
a

1

In [28]:
b

2

In [29]:
c

3

In [30]:
a, b, c = t

In [31]:
t

(1, 2, 3)

In [32]:
a

1

In [33]:
b

2

In [34]:
c

3

In [35]:
a, b, c = d

In [36]:
d

{1: '1', 2: '2', '3': 3}

In [37]:
a

1

In [38]:
b

2

In [39]:
c

'3'

In [40]:
a, b, c = d.values()

In [41]:
a

'1'

In [42]:
b

'2'

In [43]:
c

3

In [44]:
year = 2007
month = 'Oct'
day = 2

In [45]:
birthday = (year, month, day)

In [46]:
birthday

(2007, 'Oct', 2)

In [47]:
type(birthday)

tuple

In [48]:
birthday[0]

2007

In [49]:
birthday[1]

'Oct'

In [50]:
birthday[2]

2

In [51]:
birthday

(2007, 'Oct', 2)

In [52]:
year, *others = birthday

In [53]:
year

2007

In [54]:
others

['Oct', 2]

In [55]:
l = [1, 2, 3, 4, 5, 6, 7]

In [56]:
a,*b,c = l

In [57]:
a

1

In [58]:
c

7

In [59]:
b

[2, 3, 4, 5, 6]

In [60]:
a, *b, c, d = l

In [61]:
l

[1, 2, 3, 4, 5, 6, 7]

In [62]:
a, *b, *c, d = l

SyntaxError: two starred expressions in assignment (<ipython-input-62-951f72ccdcf9>, line 4)

In [63]:
a, *(b, *c) = l

In [64]:
l

[1, 2, 3, 4, 5, 6, 7]

In [65]:
a

1

In [66]:
b

2

In [67]:
c

[3, 4, 5, 6, 7]

In [68]:
a, *(b, *(c, *d)) = l

In [69]:
l

[1, 2, 3, 4, 5, 6, 7]

In [70]:
a

1

In [71]:
b

2

In [72]:
c

3

In [73]:
d

[4, 5, 6, 7]

In [74]:
l1 = [1, 2]
l2 = [3, 4]

In [75]:
l3 = [*l1, *l2]

In [76]:
l3

[1, 2, 3, 4]

In [77]:
l4 = [l1, l2]

In [78]:
l4

[[1, 2], [3, 4]]

In [79]:
t = (1, 2, 3, 4, 5, 6, 7)

In [80]:
a, b, *c = t

In [81]:
a

1

In [82]:
b

2

In [83]:
c

[3, 4, 5, 6, 7]

In [84]:
a, *(b, *c) = t

In [85]:
t

(1, 2, 3, 4, 5, 6, 7)

In [86]:
a

1

In [87]:
b

2

In [88]:
c

[3, 4, 5, 6, 7]

In [89]:
t1 = (1, 2)
t2 = (3, 4)

In [90]:
t = (*t1, *t2)

In [91]:
t

(1, 2, 3, 4)

In [92]:
[*t1, *t2]

[1, 2, 3, 4]

In [93]:
s = {1, 2, 3, 4, 5, 6, 7}

In [94]:
a, *(b, *c) = s

In [95]:
a

1

In [96]:
b

2

In [97]:
s

{1, 2, 3, 4, 5, 6, 7}

In [98]:
c

[3, 4, 5, 6, 7]

In [99]:
d = {1: '1', 2: '2', 3: '3', 4:'4'}

In [101]:
a, b, *c = d

In [102]:
a

1

In [103]:
b

2

In [104]:
d

{1: '1', 2: '2', 3: '3', 4: '4'}

In [105]:
c

[3, 4]

In [106]:
d

{1: '1', 2: '2', 3: '3', 4: '4'}

In [121]:
for e in d.items():
    print(e, type(e))

(1, '1') <class 'tuple'>
(2, '2') <class 'tuple'>
(3, '3') <class 'tuple'>
(4, '4') <class 'tuple'>

In [113]:
a

(1, '1')

In [109]:
b

'2'

In [110]:
c

'3'

In [111]:
x

['4']

In [123]:
d1 = {'key1' : 1, 'key2': 2}
d2 = {'key3' : 3, 'key4': 4, 'key2' : 200}

In [124]:
d = {*d1, *d2}

In [125]:
d

{'key1', 'key2', 'key3', 'key4'}

In [126]:
type(d)

set

In [127]:
d = {**d1, **d2}

In [128]:
d1

{'key1': 1, 'key2': 2}

In [129]:
d2

{'key3': 3, 'key4': 4, 'key2': 200}

In [130]:
d

{'key1': 1, 'key2': 200, 'key3': 3, 'key4': 4}

In [131]:
d = {d1.values(), d2.values()}

In [132]:
d

{dict_values([1, 2]), dict_values([3, 4, 200])}

In [133]:
# List comprehension

In [134]:
l = [<expression> for element in iterable if <expression>]

SyntaxError: invalid syntax (<ipython-input-134-8a8f62b63bee>, line 1)

In [135]:
numbers = [range(10)]

In [136]:
numbers

[range(0, 10)]

In [137]:
numbers = list(range(10))

In [138]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
squares = [x ** 2 for x in numbers]

In [140]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [141]:
cubes = [x ** 3 for x in numbers]

In [142]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [144]:
import math
sqrts = [math.sqrt(x) for x in squares]

In [145]:
sqrts

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [146]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
even = [x for x in numbers if x % 2 == 0]

In [148]:
even

[0, 2, 4, 6, 8]

In [149]:
radius = [1, 2, 3, 4, 5, 6]

In [150]:
area = [Karthi]

NameError: name 'Karthi' is not defined

In [151]:
length = [2, 4, 5, 6]
breadth = [5,6, 7, 9]

area = [lakshmipathy]

NameError: name 'lakshmipathy' is not defined

In [152]:
primes = [x for x in range(0, 101) if is_prime(x)]

NameError: name 'is_prime' is not defined

In [153]:
radius

[1, 2, 3, 4, 5, 6]

In [154]:
areas = [math.pi * r * r for r in radius]

In [155]:
areas

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483,
 113.09733552923255]

In [156]:
length

[2, 4, 5, 6]

In [157]:
breadth

[5, 6, 7, 9]

In [158]:
area = [ x * y for x, y in zip(length, breadth)]

In [159]:
area

[10, 24, 35, 54]

In [160]:
length

[2, 4, 5, 6]

In [161]:
breadth

[5, 6, 7, 9]

In [163]:
length * 5

[2, 4, 5, 6, 2, 4, 5, 6, 2, 4, 5, 6, 2, 4, 5, 6, 2, 4, 5, 6]

In [164]:
numbers = list(range(101))

In [166]:
multiple_3 = [x for x in numbers if x % 3 == 0]

In [167]:
multiple_3_7 = [x for x in numbers if x % 3 == 0 and x % 7==0]

In [169]:
height = [1, 2, 3, 4, 5]
base = [6, 8, 9, 20, 30]
areas = [0.5 * b * h for b, h in zip(height, base)]