In [16]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [17]:
from collections import namedtuple

Point2D = namedtuple('Point2D', ['x', 'y' ])

In [18]:
pt1 = Point2D(10, 20)

In [19]:
pt1

Point2D(x=10, y=20)

In [20]:
Pt2D = namedtuple('Point2D', ('x', 'y'))
pt2 = Pt2D(10, 20)

In [21]:
pt2

Point2D(x=10, y=20)

In [22]:
Pt3D = Point3D

In [23]:
p = Pt3D(10, 20, 30)

In [24]:
p

In [25]:
p = Point3D(x = 10, y = 20, z = 30)

In [26]:
p.x, p.y, p.z

(10, 20, 30)

In [27]:
p = Point2D(x = 10, y = 29)

In [28]:
p

Point2D(x=10, y=29)

In [29]:
isinstance(p, tuple)

True

In [30]:
a = (10, 20)

In [31]:
b = (10, 20)

In [32]:
a is b

False

In [33]:
b == a

True

In [34]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

In [35]:
pt1 is pt2

False

In [36]:
pt1 == pt2

True

In [37]:
a == pt1

True

In [39]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'
    
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [42]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [44]:
pt1 is pt2

False

In [45]:
pt1 == pt2

True

In [46]:
def dot_product_3d(a, b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [47]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)

In [48]:
dot_product_3d(pt1, pt2)

6

In [49]:
a = (1, 2)
b = (1, 1)

In [50]:
list(zip(a, b))

[(1, 1), (2, 1)]

In [53]:
sum(e[0] * e[1] for e in zip(a, b))

3

In [54]:
def dot_product(a, b):
    return sum(e[0] * e[1] for e in zip(a, b))

In [56]:
pt1 = Point2D(1, 2)
pt2 = Point2D(1, 1)

dot_product(pt1, pt2)

3

In [57]:
Vector3D = namedtuple("Vector3D", 'x y z')
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

In [58]:
v1

Vector3D(x=1, y=2, z=3)

In [59]:
dot_product(v1, v2)

6

In [60]:
tuple(v1)

(1, 2, 3)

In [61]:
tuple(v2)

(1, 1, 1)

In [62]:
v1[0]

1

In [65]:
x = v1[0:2]

In [66]:
v1

Vector3D(x=1, y=2, z=3)

In [67]:
x

(1, 2)

In [69]:
Circle = namedtuple('Circle', 'center_x center_y radius')

In [70]:
c = Circle(0, 0, 10)

In [71]:
c.radius

10

In [93]:
Stock = namedtuple('Stock', '''symbol, 
                                year
                                month
                                day 
                                open 
                                high 
                                low 
                                close''')

In [94]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_268, 26_393)

In [95]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26268, close=26393)

In [96]:
djia.symbol

'DJIA'

In [97]:
djia.close

26393

In [98]:
for e in djia:
    print(e)

DJIA
2018
1
25
26313
26458
26268
26393

In [99]:
symbol, year, month, day, *_, close = djia

In [100]:
symbol, year, month, day, close

('DJIA', 2018, 1, 25, 26393)

In [101]:
print(_)

[26313, 26458, 26268]

In [102]:
Person = namedtuple('Person', 'name age _ssn')

ValueError: Field names cannot start with an underscore: '_ssn'

In [103]:
Person = namedtuple('Person', 'name age _ssn _zipcode', rename=True)

In [104]:
Person._fields

('name', 'age', '_2', '_3')

In [105]:
Point2D._fields

('x', 'y')

In [106]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [107]:
Stock._source

AttributeError: type object 'Stock' has no attribute '_source'

In [92]:
Stock._source

AttributeError: type object 'Stock' has no attribute '_source'

AttributeError: type object 'Person' has no attribute '_source'

In [110]:
d = djia._asdict()

In [112]:
d['symbol']

'DJIA'

In [113]:
type(d)

collections.OrderedDict