In [1]:
(10, 20, 30)

(10, 20, 30)

In [5]:
a = 10, 20, 30
b = (10, 20, 30)

In [6]:
type(a)
type(b)

tuple

In [7]:
def print_tuple(t):
    for e in t:
        print(e)

In [9]:
print_tuple(10, 20, 30) # this is considered as three args

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [10]:
print_tuple((10, 20, 30))

10
20
30

In [11]:
a = 'a', 10, 200

In [12]:
a[1]

10

In [13]:
a = 1, 2, 3, 4, 5, 6

In [14]:
type(a)

tuple

In [15]:
a[2:5]

(3, 4, 5)

In [16]:
for e in a:
    print(e)

1
2
3
4
5
6

In [17]:
a = 'a', 10, 20

In [18]:
x, y ,z = a

In [19]:
x

'a'

In [20]:
y

10

In [21]:
z

20

In [22]:
a = 1, 2, 3, 4, 5,6

In [23]:
x, *other, y, z = a

In [24]:
x

1

In [25]:
y

5

In [26]:
z

6

In [27]:
other

[2, 3, 4]

In [28]:
x, *_, y, z = a

In [29]:
x

1

In [30]:
y

5

In [31]:
z

6

In [32]:
_

[2, 3, 4]

In [33]:
a[0]

1

In [34]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [36]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f"{self.__class__.__name__}(x = {self.x}, y = {self.y})"

In [37]:
pt = Point2D(10, 20)

In [38]:
pt

Point2D(x = 10, y = 20)

In [39]:
pt.x = 100

In [40]:
pt

Point2D(x = 100, y = 20)

In [41]:
a = (Point2D(0, 0), Point2D(10, 20))

In [42]:
id(a[0]), id(a[1])

(15474640, 15474672)

In [43]:
a[0].x = 100

In [44]:
a

(Point2D(x = 100, y = 0), Point2D(x = 10, y = 20))

In [50]:
s = 'python'

In [51]:
id(s)

53636864

In [52]:
s = 'python' + 'rocks!'

In [53]:
id(s)

15540376

In [54]:
a = 1, 2, 3
id(a)

13253808

In [55]:
a += 4,5

In [56]:
a

(1, 2, 3, 4, 5)

In [57]:
id(a)

99967312

In [58]:
pt1 = (0, 0)
pt2 = (10, 20)

In [61]:
pt1, pt2

((0, 0), (10, 20))

In [66]:
london = "London", "UK", 8_780_000
new_york = "New York", "USA", 8_500_000
beijing = "Beijing", "China", 21_000_000

In [67]:
london

('London', 'UK', 8780000)

In [68]:
cities = (london, new_york, beijing)

In [69]:
cities

(('London', 'UK', 8780000),
 ('New York', 'USA', 8500000),
 ('Beijing', 'China', 21000000))

In [70]:
total = 0
for city in cities:
    total += city[2]
    
print(total)

38280000

In [74]:
total = sum(city[2] for city in cities)

In [76]:
record = 'DJIA', 2018, 1, 19, 25987, 26072, 25942, 26072

In [77]:
symbol, year, month, day, open_, high, low, close = record

In [78]:
symbol

'DJIA'

In [79]:
close

26072

In [81]:
symbol, *_, close = record

In [82]:
symbol

'DJIA'

In [83]:
close

26072

In [84]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [86]:
for city in cities:
    city, country, pop = city
    print(city, country, pop)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [87]:
for c, cc, pop in cities:
    print(c, cc, pop)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [89]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [93]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [100]:
num_attempts = 10000000
count_inside = 0
count_outside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1
    else:
        count_outside += 1
        
print(f"Pi is approximately: {4 * count_inside / num_attempts}")

Pi is approximately: 3.1413236