### Tuple as Data Structures

In [1]:
(10, 20, 30)

(10, 20, 30)

In [3]:
a = (10, 20, 30)
b = 10, 20, 30

In [4]:
type(a), type(b)

(tuple, tuple)

In [5]:
def print_tuple(t):
    for e in t:
        print(e)

In [6]:
print_tuple(10, 20, 30)

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [7]:
print_tuple((10, 20, 30))

10
20
30

In [8]:
a = 'a', 10, 200

In [9]:
a[0]

'a'

In [10]:
a[1]

10

In [11]:
a = 1, 2, 3, 4, 5,6

In [12]:
a[2:5]

(3, 4, 5)

In [13]:
for e in a:
    print(e)

1
2
3
4
5
6

In [14]:
a = 'a', 10, 20

In [15]:
x, y, z = a

In [16]:
x

'a'

In [17]:
y

10

In [18]:
z

20

In [19]:
a = 1, 2, 3, 4, 5, 6

In [20]:
x, *other, y, z = a

In [21]:
x

1

In [22]:
y

5

In [23]:
z

6

In [24]:
other

[2, 3, 4]

In [26]:
x, *_, y, z = a

In [27]:
x

1

In [28]:
y

5

In [29]:
z

6

In [30]:
_

[2, 3, 4]

In [31]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [32]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [37]:
pt = Point2D(10, 20)

In [38]:
pt, id(pt)

(Point2D(x=10, y=20), 42919024)

In [39]:
pt.x = 100

In [40]:
pt, id(pt)

(Point2D(x=100, y=20), 42919024)

In [41]:
a = Point2D(0,0), Point2D(10, 20)

In [42]:
id(a[0])

43017136

In [43]:
a[0].x = 1000

In [44]:
a

(Point2D(x=1000, y=0), Point2D(x=10, y=20))

In [48]:
s = 'python'
id(s)

50644448

In [49]:
s = 'python' + 'rocks'
id(s)

42544088

In [50]:
a = 1, 2, 3

In [51]:
id(a)

42623344

In [53]:
a += (4, 5)

In [54]:
a

(1, 2, 3, 4, 5)

In [55]:
id(a)

42761600

In [56]:
pt1 = (0, 0)
pt2 = (10, 20)

In [57]:
london = 'London', 'UK', 8_780_000
new_york = "New York", 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [58]:
cities = [london, new_york, beijing]

In [61]:
total = 0

for city in cities:
    total += city[2]
    
print(total)

38280000

In [62]:
total = sum(population for *_, population in cities)

In [63]:
total

38280000

In [65]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [66]:
symbol, year, month, day, open_, high, low, close = record

In [67]:
symbol

'DJIA'

In [68]:
close

26072

In [69]:
symbol, *_, close = record

In [70]:
symbol

'DJIA'

In [71]:
close

26072

In [72]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [73]:
for city in cities:
    print(city)

('London', 'UK', 8780000)
('New York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [74]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [75]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [76]:
for index, item in enumerate(cities):
    print(index, item)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [77]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [80]:
num_attempts = 10000000
count_inside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1
        
print(f'pi is approx: {4*count_inside/num_attempts}')

pi is approx: 3.1420088