In [1]:
squares= []
for i in range(1, 101):
    squares.append(i ** 2)

In [2]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
squares = [x ** 2 for x in range(1, 101)]

In [4]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares= []
for i in range(1, 101):
    if i % 2 == 0:
        squares.append(i ** 2)

In [6]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [7]:
squares = [x ** 2 for x in range(1, 101) if x % 2 == 0]

In [8]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [9]:
squares = [x ** 2 
           for x in range(1, 101) 
           if x % 2 == 0]

In [10]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [11]:
compiled_code = compile('[i**2 for i in (1, 2, 3)]',
                       filename='string', mode='eval')

In [13]:
compiled_code

In [14]:
import dis
dis.disassemble(compiled_code)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x06B0E650, file "string", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               2 ((1, 2, 3))
              8 GET_ITER
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

In [15]:
tables = []
for i in range(1, 11):
    row = []
    for j in range(1, 11):
        row.append(i*j)
    tables.append(row)

In [17]:
tables

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [24]:
table2 = [
    [ i * j for j in range(1, 11)]
    for i in range(1, 11) ]

In [25]:
table2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [26]:
from math import factorial

In [35]:
def combo(n, k):
    return factorial(n) // (factorial(k) * factorial(n-k))

In [36]:
size = 10

In [37]:
pascal = [[combo(n, k) for k in range(n+1)] for n in range(size+1)]

In [38]:
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

In [41]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']

l = [i+j for i in l1 for j in l2]

In [42]:
l

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [43]:
l = [i+j for i in l2 for j in l1]

In [44]:
l

['xa', 'xb', 'xc', 'ya', 'yb', 'yc', 'za', 'zb', 'zc']

In [45]:
l1 = ['a', 'b', 'c']
l2 = ['b', 'c', 'd']

l = [i+j for i in l1 for j in l2 if i != j]

In [46]:
l

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [47]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = ['a', 'b', 'c', 'd']
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [48]:
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [49]:
result = []
for index_1, item_1 in enumerate(l1):
    for index_2, item_2 in enumerate(l2):
        if index_1 == index_2:
            result.append((item_1, item_2))
            
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [58]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = ['a', 'b', 'c', 'd']

result = [(item_1, item_2) 
          for index_1, item_1 in enumerate(l1) 
          for index_2, item_2 in enumerate(l2) 
          if index_1 == index_2]

In [59]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [61]:
l = [1, 2, 3]
sum(l)

6

In [63]:
v1 = [1, 2, 3, 4, 5, 6]
v2 = [10, 20, 30, 40, 50, 60]
dot = 0
for i in range(len(v1)):
    dot += (v1[i] * v2[i])
    
print(dot)

910

In [64]:
sum([i * j for i, j in zip(v1, v2)])

910

In [66]:
l = []
for number in range(5):
    l.append(number ** 2)

In [67]:
number

4

In [68]:
l

[0, 1, 4, 9, 16]

In [69]:
del number

In [71]:
l = [number **2 for number in range(5)]

In [72]:
number

NameError: name 'number' is not defined

In [73]:
number = 100

In [74]:
l = []
for number in range(5):
    l.append(number ** 2)

In [ ]:
del number

In [79]:
number = 100

In [80]:
l = [number **2 for number in range(5)]

In [81]:
number

100

In [82]:
fn_0 = lambda x: x ** 0
fn_1 = lambda x: x ** 1
fn_2 = lambda x: x ** 2
fn_3 = lambda x: x ** 3

In [83]:
funcs = [lambda x: x ** 0, lambda x: x ** 1, lambda x: x ** 2, lambda x: x ** 3]

In [85]:
for i in range(4):
    print(funcs[i](10))

1
10
100
1000

In [86]:
if 'i' in globals():
    del i

In [89]:
funcs = []
for i in range(6):
    funcs.append(lambda x: x**i)

In [90]:
funcs

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>]

In [92]:
funcs[0](10)

100000

In [93]:
funcs[2](10)

100000

In [94]:
funcs = [lambda x: x**i for i in range(5)]

In [95]:
funcs[0](10)

10000

In [96]:
from datetime import datetime

In [97]:
datetime.now()

datetime.datetime(2019, 5, 2, 7, 15, 23, 226537)

In [99]:
def log(msg, current_dt=datetime.now()):
    print(msg, current_dt)

In [100]:
log('code')

code 2019-05-02 07:16:22.064186

In [101]:
log("python")

python 2019-05-02 07:16:22.064186

In [102]:
funcs = [lambda x, p=i: x**p for i in range(5)]

In [103]:
funcs[0](10)

1

In [104]:
funcs[1](10)

10

In [105]:
funcs[2](10)

100

In [107]:
funcs[4](10)

10000