In [6]:
class MyClass:
    
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f"MyClass(name={self.name}"
    
    def __add__(self, other):
        print(f"You called + on {self} and {other}")
        return "Hello from __add__"
    
    def __iadd__(self, other):
        print(f"You called += on {self} and {other}")
        return "Hello from __iadd__"

In [11]:
c1 = MyClass('instance 1')
c2 = MyClass('instance 2')

In [12]:
result = c1 + c2

You called + on MyClass(name=instance 1 and MyClass(name=instance 2

In [13]:
print(result)

Hello from __add__

In [14]:
c1, c2

(MyClass(name=instance 1, MyClass(name=instance 2)

In [15]:
id(c1)

24262096

In [16]:
c1 += c2

You called += on MyClass(name=instance 1 and MyClass(name=instance 2

In [17]:
c1

'Hello from __iadd__'

In [18]:
id(c1)

24302752

In [28]:
class MyClass:
    
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f"MyClass(name={self.name})"
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
            
        return self

In [29]:
c1 = MyClass('Eric')
c2 = MyClass('Idle')

print(id(c1))
print(id(c2))

24430608
24430768

In [30]:
result = c1 + c2

In [31]:
print(id(c1))
print(id(c2))
print(id(result), result)

24430608
24430768
24428944 MyClass(name=EricIdle)

In [32]:
c1 += c2

In [33]:
print(id(c1), c1)
print(id(c2))

24430608 MyClass(name=EricIdle)
24430768

In [45]:
class MyClass:
    
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f"MyClass(name={self.name})"
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other    
        return self
            
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name = self.name * n
        return self
    
    def __contains__(self, value):
        return value in self.name

In [35]:
c1 = MyClass('Eric')
c2 = MyClass('Idle')

print(id(c1))
print(id(c2))

24835184
24835216

In [36]:
result = c1 * 3

In [37]:
id(result), result

(24835600, MyClass(name=EricEricEric))

In [38]:
c1 *= 3

In [39]:
id(c1), c1

(24835184, MyClass(name=EricEricEric))

In [40]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [42]:
c1 = MyClass("Eric")

In [43]:
c1 * 3

MyClass(name=EricEricEric)

In [44]:
3 * c1

MyClass(name=EricEricEric)

In [46]:
c1 = MyClass('Eric Idle')

In [47]:
'Eric' in c1

True

In [48]:
'z' in c1

False

In [49]:
"I" in c1

True